<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.microvirt.cjwsimple">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:name=".CjwApplication"
        android:allowBackup="true"
        android:hasCode="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- <activity android:name=".asop.ApiActivity" /> -->
        <activity android:name=".asop.HandlerActivity" />
        <activity android:name=".detectEmulator.DetectorEmulator" />
        <activity android:name=".av.AVActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".binder.TestBinderActivity" />
        <activity android:name=".okhttp.OkhttpActivity" />
        <activity android:name=".hotfix.AliHotFixActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".classloader.ClassLoaderActivity" />
        <activity android:name=".asop.BatteryActivity" />
        <activity android:name=".asop.SensorActivity" />
        <activity android:name=".asop.GetpropActivity" />
        <activity android:name=".asop.TelephonyActivity" />
        <activity android:name=".classloader.plugin.TestActivity" />
        <activity android:name=".asop.InputMethodActivity"></activity>
    </application>

</manifest>